@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&display=swap');

/*Common Styles*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none ;
  outline: none;
  font-family:"Nunito", san-serif;
  font-weight: 400;
}

html{
  font-size : .63rem;                   /*converted 1rem(16 px) to 10 px (.63 x 16)*/
}
/*End of Common Styles*/

/*Section-1*/
.section-1{
  width:100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;            /*items were lined up side by side use this to line them top/ bottom*/
  align-items: center;              
  justify-content: space-evenly;     /* this spaced out lines */
}
.section-1-heading{
  font-size: 12rem;
  font-weight:900;
  color:#fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem ;
  text-shadow: 0.3rem, 0.3rem,0.3rem #000;
}

.section-1-icons{
font-size: 35rem;
color: #a79a2d;
position:absolute;
}
/*End of Section-1*/

